In [1]:
# !pip3 install -q -U bitsandbytes==0.42.0
# !pip3 install -q -U peft==0.8.2
# !pip3 install -q -U trl==0.7.10
# !pip3 install -q -U accelerate==0.27.1
# !pip3 install -q -U datasets==2.17.0
# !pip3 install -q -U transformers==4.38.0

In [2]:
import json
import pandas as pd
import torch
from datasets import Dataset, load_dataset
from huggingface_hub import notebook_login
from peft import LoraConfig, PeftModel
from transformers import (
    AutoModelForCausalLM,
    AutoTokenizer,
    BitsAndBytesConfig,
    TrainingArguments,
    pipeline,
    logging,
)
from trl import SFTTrainer

/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
from huggingface_hub import login
 
login(
  token="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", # ADD YOUR TOKEN HERE
  add_to_git_credential=True
)

Token is valid (permission: write).
Cannot authenticate through git-credential as no helper is defined on your machine.
You might have to re-authenticate when pushing to the Hugging Face Hub.
Run the following command in your terminal in case you want to set the 'store' credential helper as default.

git config --global credential.helper store

Read https://git-scm.com/book/en/v2/Git-Tools-Credential-Storage for more details.
Token has not been saved to git credential helper.
Your token has been saved to /home/niq/hcsr2001/.cache/huggingface/token
Login successful

In [4]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig

model_id = "google/gemma-2b-it"
# model_id = "google/gemma-7b"
# model_id = "google/gemma-2b-it"
# model_id = "google/gemma-2b"

bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
    bnb_4bit_compute_dtype=torch.bfloat16
)

model = AutoModelForCausalLM.from_pretrained(model_id, quantization_config=bnb_config, device_map={"":0})
tokenizer = AutoTokenizer.from_pretrained(model_id, add_eos_token=True)

/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Loading checkpoint shards: 100%|██████████| 2/2 [00:02<00:00,  1.50s/it]

In [5]:
def get_completion(query: str, model, tokenizer) -> str:
    device = "cuda:0"

    prompt_template = """
    <start_of_turn>user
    Below is an instruction that describes a task. Write a response that appropriately completes the request.
    {query}
    <end_of_turn>\n<start_of_turn>model
    

    """
    prompt = prompt_template.format(query=query)

    encodeds = tokenizer(prompt, return_tensors="pt", add_special_tokens=True)

    model_inputs = encodeds.to(device)


    generated_ids = model.generate(**model_inputs, max_new_tokens=1000, do_sample=True, pad_token_id=tokenizer.eos_token_id)
    # decoded = tokenizer.batch_decode(generated_ids)
    decoded = tokenizer.decode(generated_ids[0], skip_special_tokens=True)
    return (decoded)

In [6]:
result = get_completion(query="code the fibonacci series in python using reccursion", model=model, tokenizer=tokenizer)
print(result)

A decoder-only architecture is being used, but right-padding was detected! For correct generation results, please set `padding_side='left'` when initializing the tokenizer.

    user
    Below is an instruction that describes a task. Write a response that appropriately completes the request.
    code the fibonacci series in python using reccursion

model


    def fibonacci(n):
        if n <= 1:
            return n
        else:
            return fibonacci(n-1) + fibonacci(n-2)

In [7]:
from datasets import load_dataset

dataset = load_dataset("gretelai/synthetic_text_to_sql",split="train[:10%]")
dataset.to_pandas().head(2)

Downloading readme: 100%|██████████| 8.18k/8.18k [00:00<00:00, 25.5MB/s]
Downloading data: 100%|██████████| 32.4M/32.4M [00:02<00:00, 13.2MB/s]
Downloading data: 100%|██████████| 1.90M/1.90M [00:00<00:00, 4.96MB/s]
Generating train split: 100000 examples [00:00, 871178.02 examples/s]
Generating test split: 5851 examples [00:00, 709909.82 examples/s]

,id,domain,domain_description,sql_complexity,sql_complexity_description,sql_task_type,sql_task_type_description,sql_prompt,sql_context,sql,sql_explanation
0,5097,forestry,Comprehensive data on sustainable forest manag...,single join,"only one join (specify inner, outer, cross)",analytics and reporting,"generating reports, dashboards, and analytical...",What is the total volume of timber sold by eac...,"CREATE TABLE salesperson (salesperson_id INT, ...","SELECT salesperson_id, name, SUM(volume) as to...","Joins timber_sales and salesperson tables, gro..."
1,5098,defense industry,"Defense contract data, military equipment main...",aggregation,"aggregation functions (COUNT, SUM, AVG, MIN, M...",analytics and reporting,"generating reports, dashboards, and analytical...",List all the unique equipment types and their ...,CREATE TABLE equipment_maintenance (equipment_...,"SELECT equipment_type, SUM(maintenance_frequen...",This query groups the equipment_maintenance ta...

### Instruction Finetuning

To prepare the dataset for finetuning, follow these steps:

1. **Generate Prompt:** Use the `generate_prompt` function to create prompts from instructions and outputs.
2. **Shuffle Dataset:** Randomly shuffle the dataset to ensure diversity in training examples.
3. **Tokenize Dataset:** Tokenize the dataset using a tokenizer.

#### Formatting the Dataset

Format the dataset according to the following Gemma instruction format:

In [8]:
# Prompt: Given the following SQL question and context, generate a SQL query:

# SQL Question: [SQL_QUESTION]
# SQL Context: [SQL_CONTEXT]

# Generated SQL Query:

In [9]:
def generate_prompt(data_point):
    """Gen. input text based on a prompt, task instruction, (context info.), and answer

    :param data_point: dict: Data point
    :return: dict: tokenzed prompt
    """
    prefix_text = 'Given the following SQL question and context, generate a SQL query:\n\n'
    # Samples with additional context into.
    if data_point['sql_context']:
        text = f"""<start_of_turn>user {prefix_text} SQL Question: {data_point["sql_prompt"]} \n\n SQL Context: {data_point["sql_context"]}\n\n Generated SQL Query: <end_of_turn>\n\n<start_of_turn> model {data_point["sql"]} <end_of_turn>"""
    # Without
    else:
        text = f"""<start_of_turn>user {prefix_text} SQL Question: {data_point["sql_prompt"]} \n\n Generated SQL Query: <end_of_turn>\n<start_of_turn>model {data_point["sql"]} <end_of_turn>"""
    return text

# add the "prompt" column in the dataset
text_column = [generate_prompt(data_point) for data_point in dataset]
dataset = dataset.add_column("prompt", text_column)

In [10]:
dataset

Dataset({
    features: ['id', 'domain', 'domain_description', 'sql_complexity', 'sql_complexity_description', 'sql_task_type', 'sql_task_type_description', 'sql_prompt', 'sql_context', 'sql', 'sql_explanation', 'prompt'],
    num_rows: 10000
})

In [11]:
dataset = dataset.shuffle(seed=1234)  # Shuffle dataset here
dataset = dataset.map(lambda samples: tokenizer(samples["prompt"]), batched=True)

Map:   0%|          | 0/10000 [00:00<?, ? examples/s]

Map: 100%|██████████| 10000/10000 [00:01<00:00, 7234.11 examples/s]

In [12]:
dataset = dataset.train_test_split(test_size=0.2)
train_data = dataset["train"]
test_data = dataset["test"]

In [13]:
print(dataset["train"][0]["prompt"])

<start_of_turn>user Given the following SQL question and context, generate a SQL query:

 SQL Question: Determine the percentage of threat intelligence budget allocated to cybersecurity in the last 6 months

 SQL Context: CREATE TABLE threat_intelligence_budget (category TEXT, allocation_date DATE, budget_amount NUMERIC); INSERT INTO threat_intelligence_budget (category, allocation_date, budget_amount) VALUES ('Cybersecurity', '2022-01-01', 50000), ('Physical Security', '2022-01-01', 30000), ('Personnel Security', '2022-01-01', 20000), ('Cybersecurity', '2022-02-01', 55000), ('Physical Security', '2022-02-01', 35000), ('Personnel Security', '2022-02-01', 25000), ('Cybersecurity', '2022-03-01', 60000), ('Physical Security', '2022-03-01', 30000), ('Personnel Security', '2022-03-01', 20000);

 Generated SQL Query: <end_of_turn>

<start_of_turn> model SELECT (SUM(CASE WHEN category = 'Cybersecurity' THEN budget_amount ELSE 0 END) * 100.0 / SUM(budget_amount)) as cybersecurity_percentage FROM threat_intelligence_budget WHERE allocation_date >= (SELECT CURRENT_DATE - INTERVAL '6 months'); <end_of_turn>

In [14]:
from peft import LoraConfig, PeftModel, prepare_model_for_kbit_training, get_peft_model
model.gradient_checkpointing_enable()
model = prepare_model_for_kbit_training(model)

In [15]:
print(model)

GemmaForCausalLM(
  (model): GemmaModel(
    (embed_tokens): Embedding(256000, 2048, padding_idx=0)
    (layers): ModuleList(
      (0-17): 18 x GemmaDecoderLayer(
        (self_attn): GemmaSdpaAttention(
          (q_proj): Linear4bit(in_features=2048, out_features=2048, bias=False)
          (k_proj): Linear4bit(in_features=2048, out_features=256, bias=False)
          (v_proj): Linear4bit(in_features=2048, out_features=256, bias=False)
          (o_proj): Linear4bit(in_features=2048, out_features=2048, bias=False)
          (rotary_emb): GemmaRotaryEmbedding()
        )
        (mlp): GemmaMLP(
          (gate_proj): Linear4bit(in_features=2048, out_features=16384, bias=False)
          (up_proj): Linear4bit(in_features=2048, out_features=16384, bias=False)
          (down_proj): Linear4bit(in_features=16384, out_features=2048, bias=False)
          (act_fn): GELUActivation()
        )
        (input_layernorm): GemmaRMSNorm()
        (post_attention_layernorm): GemmaRMSNorm()
      )
    )
    (norm): GemmaRMSNorm()
  )
  (lm_head): Linear(in_features=2048, out_features=256000, bias=False)
)

In [16]:
import bitsandbytes as bnb
def find_all_linear_names(model):
  cls = bnb.nn.Linear4bit #if args.bits == 4 else (bnb.nn.Linear8bitLt if args.bits == 8 else torch.nn.Linear)
  lora_module_names = set()
  for name, module in model.named_modules():
    if isinstance(module, cls):
      names = name.split('.')
      lora_module_names.add(names[0] if len(names) == 1 else names[-1])
    if 'lm_head' in lora_module_names: # needed for 16-bit
      lora_module_names.remove('lm_head')
  return list(lora_module_names)

In [18]:
modules = find_all_linear_names(model)
print(modules)

['v_proj', 'up_proj', 'down_proj', 'k_proj', 'q_proj', 'o_proj', 'gate_proj']

In [19]:
from peft import LoraConfig, get_peft_model

lora_config = LoraConfig(
    r=64,
    lora_alpha=32,
    target_modules=modules,
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM"
)

model = get_peft_model(model, lora_config)

In [20]:
trainable, total = model.get_nb_trainable_parameters()
print(f"Trainable: {trainable} | total: {total} | Percentage: {trainable/total*100:.4f}%")

Trainable: 78446592 | total: 2584619008 | Percentage: 3.0351%

In [ ]:
# from transformers import TrainingArguments
 
# args = TrainingArguments(
#     output_dir="gemma-7b-dolly-chatml", # directory to save and repository id
#     num_train_epochs=3,                     # number of training epochs
#     per_device_train_batch_size=2,          # batch size per device during training
#     gradient_accumulation_steps=2,          # number of steps before performing a backward/update pass
#     gradient_checkpointing=True,            # use gradient checkpointing to save memory
#     optim="adamw_torch_fused",              # use fused adamw optimizer
#     logging_steps=10,                       # log every 10 steps
#     save_strategy="epoch",                  # save checkpoint every epoch
#     bf16=True,                              # use bfloat16 precision
#     tf32=True,                              # use tf32 precision
#     learning_rate=2e-4,                     # learning rate, based on QLoRA paper
#     max_grad_norm=0.3,                      # max gradient norm based on QLoRA paper
#     warmup_ratio=0.03,                      # warmup ratio based on QLoRA paper
#     lr_scheduler_type="constant",           # use constant learning rate scheduler
#     push_to_hub=False,                       # push model to hub
#     report_to="tensorboard",                # report metrics to tensorboard
# )

In [21]:
#new code using SFTTrainer
import transformers

from trl import SFTTrainer

tokenizer.pad_token = tokenizer.eos_token
torch.cuda.empty_cache()

trainer = SFTTrainer(
    model=model,
    train_dataset=train_data,
    eval_dataset=test_data,
    dataset_text_field="prompt",
    peft_config=lora_config,
    args=transformers.TrainingArguments(
        per_device_train_batch_size=1,
        gradient_accumulation_steps=4,
        warmup_steps=0.03,
        max_steps=100,
        learning_rate=2e-4,
        logging_steps=1,
        output_dir="outputs",
        optim="paged_adamw_8bit",
        save_strategy="epoch",
    ),
    data_collator=transformers.DataCollatorForLanguageModeling(tokenizer, mlm=False),
)

/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/trl/trainer/sft_trainer.py:223: UserWarning: You didn't pass a `max_seq_length` argument to the SFTTrainer, this will default to 1024
  warnings.warn(
Map: 100%|██████████| 8000/8000 [00:00<00:00, 10042.97 examples/s]
Map: 100%|██████████| 2000/2000 [00:00<00:00, 11909.12 examples/s]
/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/trl/trainer/sft_trainer.py:290: UserWarning: You passed a tokenizer with `padding_side` not equal to `right` to the SFTTrainer. This might lead to some unexpected behaviour due to overflow issues when training a model in half-precision. You might consider adding `tokenizer.padding_side = 'right'` to your code.
  warnings.warn(
Detected kernel version 4.18.0, which is below the recommended minimum of 5.5.0; this can cause the process to hang. It is recommended to upgrade the kernel to the minimum version or higher.

In [22]:
model.config.use_cache = False  # silence the warnings. Please re-enable for inference!
trainer.train()

/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/torch/utils/checkpoint.py:464: UserWarning: torch.utils.checkpoint: the use_reentrant parameter should be passed explicitly. In version 2.4 we will raise an exception if use_reentrant is not passed. use_reentrant=False is recommended, but if you need to preserve the current default behavior, you can pass use_reentrant=True. Refer to docs for more details on the differences between the two variants.
  warnings.warn(
/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/torch/nn/parallel/_functions.py:68: UserWarning: Was asked to gather along dimension 0, but all input tensors were scalars; will instead unsqueeze and return a vector.
  warnings.warn('Was asked to gather along dimension 0, but all '

TrainOutput(global_step=100, training_loss=0.7806919720768929, metrics={'train_runtime': 798.4124, 'train_samples_per_second': 1.002, 'train_steps_per_second': 0.125, 'total_flos': 2121514597613568.0, 'train_loss': 0.7806919720768929, 'epoch': 0.1})

In [23]:
new_model = "gemma-Code-Instruct-Finetune-test" #Name of the model you will be pushing to huggingface model hub

In [27]:
query="""<start_of_turn>user Given the following SQL question and context, generate a SQL query:

 SQL Question: Identify the number of artworks created by female artists from the 16th century and their average cultural impact score. 

 SQL Context: CREATE TABLE Artists (ArtistID INT, ArtistName VARCHAR(50), Gender VARCHAR(10), BirthYear INT); INSERT INTO Artists (ArtistID, ArtistName, Gender, BirthYear) VALUES (1, 'Artemisia Gentileschi', 'Female', 1593); CREATE TABLE Artworks (ArtworkID INT, ArtistID INT, ArtworkName VARCHAR(50), CulturalImpactScore FLOAT); INSERT INTO Artworks (ArtworkID, ArtistID, ArtworkName, CulturalImpactScore) VALUES (1, 1, 'Judith Slaying Holofernes', 75.5);

 Generated SQL Query: <end_of_turn>"""

In [28]:
result = get_completion(query=query, model=model, tokenizer=tokenizer)
print(result)

A decoder-only architecture is being used, but right-padding was detected! For correct generation results, please set `padding_side='left'` when initializing the tokenizer.
`use_cache=True` is incompatible with gradient checkpointing. Setting `use_cache=False`.
/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/torch/utils/checkpoint.py:464: UserWarning: torch.utils.checkpoint: the use_reentrant parameter should be passed explicitly. In version 2.4 we will raise an exception if use_reentrant is not passed. use_reentrant=False is recommended, but if you need to preserve the current default behavior, you can pass use_reentrant=True. Refer to docs for more details on the differences between the two variants.
  warnings.warn(
/home/niq/hcsr2001/anaconda3/envs/LLM/lib/python3.10/site-packages/torch/utils/checkpoint.py:91: UserWarning: None of the inputs have requires_grad=True. Gradients will be None
  warnings.warn(

    user
    Below is an instruction that describes a task. Write a response that appropriately completes the request.
    user Given the following SQL question and context, generate a SQL query:

 SQL Question: Identify the number of artworks created by female artists from the 16th century and their average cultural impact score.

 SQL Context: CREATE TABLE Artists (ArtistID INT, ArtistName VARCHAR(50), Gender VARCHAR(10), BirthYear INT); INSERT INTO Artists (ArtistID, ArtistName, Gender, BirthYear) VALUES (1, 'Artemisia Gentileschi', 'Female', 1593); CREATE TABLE Artworks (ArtworkID INT, ArtistID INT, ArtworkName VARCHAR(50), CulturalImpactScore FLOAT); INSERT INTO Artworks (ArtworkID, ArtistID, ArtworkName, CulturalImpactScore) VALUES (1, 1, 'Judith Slaying Holofernes', 75.5);

 Generated SQL Query:

model


    Tại 'Artists', inser INTO Artists (ArtistID, ArtistName, Gender, BirthYear) VALUES (2, 'Raphael Da Vinci', 'Male', 1452);

 INSERT INTO Artworks (ArtworkID, ArtistID, ArtworkName, CulturalImpactScore) VALUES (3, 2, 'Mona Lisa', 88.2);

 SELECT COUNT(DISTINCT Artists.ArtistName) as num_female_artworks, AVG(Arts.CulturalImpactScore) as avg_impact FROM Artists LEFT OUTER JOIN Artworks ON Artists.ArtistID = Artworks.ArtistID WHERE Artists.Gender = 'Female' GROUP BY Artists.ArtistName HAVING COUNT(DISTINCT Artists.ArtistName) = 6;

In [29]:
print(dataset["train"][8]["prompt"])

<start_of_turn>user Given the following SQL question and context, generate a SQL query:

 SQL Question: Identify the number of artworks created by female artists from the 16th century and their average cultural impact score.

 SQL Context: CREATE TABLE Artists (ArtistID INT, ArtistName VARCHAR(50), Gender VARCHAR(10), BirthYear INT); INSERT INTO Artists (ArtistID, ArtistName, Gender, BirthYear) VALUES (1, 'Artemisia Gentileschi', 'Female', 1593); CREATE TABLE Artworks (ArtworkID INT, ArtistID INT, ArtworkName VARCHAR(50), CulturalImpactScore FLOAT); INSERT INTO Artworks (ArtworkID, ArtistID, ArtworkName, CulturalImpactScore) VALUES (1, 1, 'Judith Slaying Holofernes', 75.5);

 Generated SQL Query: <end_of_turn>

<start_of_turn> model SELECT COUNT(Artworks.ArtworkID), AVG(Artworks.CulturalImpactScore) FROM Artists INNER JOIN Artworks ON Artists.ArtistID = Artworks.ArtistID WHERE Artists.Gender = 'Female' AND Artists.BirthYear BETWEEN 1501 AND 1600; <end_of_turn>

In [ ]:
trainer.model.save_pretrained(new_model)

In [ ]:
base_model = AutoModelForCausalLM.from_pretrained(
    model_id,
    low_cpu_mem_usage=True,
    return_dict=True,
    torch_dtype=torch.float16,
    device_map={"": 0},
)
merged_model= PeftModel.from_pretrained(base_model, new_model)
merged_model= merged_model.merge_and_unload()

# Save the merged model
merged_model.save_pretrained("merged_model",safe_serialization=True)
tokenizer.save_pretrained("merged_model")
tokenizer.pad_token = tokenizer.eos_token
tokenizer.padding_side = "right"

In [ ]:
# Push the model and tokenizer to the Hugging Face Model Hub
merged_model.push_to_hub(new_model, use_temp_dir=False)
tokenizer.push_to_hub(new_model, use_temp_dir=False)